body{
    background-color: aliceblue;
}
.h{
    color: rgb(22, 125, 131);
    text-align: center;
    background-color: #d2e8e8;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    font-size:xx-large;
}
.container{
    display:flex;
    align-items: center;
    gap: 20px;
       margin-left: 10%;
}
.h{
    
    width: 70%;
    height: 70%;
    padding-top: 5%;
    font-size: larger;
}
.image{
    width:350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin: 0 15px 10px 0;
    border-radius: 10px;
    margin-bottom: 10%;
}
footer{
    text-align: center;
   padding-top: 2%;
}
