body{
    background-color: aliceblue;
}
.h{
    color: rgb(22, 125, 131);
    text-align: center;
    background-color: #d2e8e8;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    font-size:xx-large;
}
.container{
    display:flex;
    align-items: center;
    gap: 20px;
    
}
img{
    width: 350px;
 height: 350px;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 70%;
    object-fit: cover;
 
}
.text{
    width: 50%;
    margin-top: 10%;
    background-color:rgb(22, 125, 131);
    justify-content: space-around;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
    color: rgb(236, 246, 246);
    margin-left: 5%;
    object-fit: cover;
    
}
.i
{
   
  width: 70%;
}
footer{
    text-align: center;
   padding-top: 2%;
}
