
body{
    background-color: aliceblue;
}
.h{
    color: rgb(22, 125, 131);
    text-align: center;
    background-color: #d2e8e8;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    font-size:xx-large;
}
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #355c7d;
  }
  
  .qualification {
    background-color: #eedf9d;
    border-left: 6px solid #a8dadc;
    padding: 1rem;
    margin-bottom: 10%;
    border-radius: 5px;
    font-size: larger;
  }
  
  .qualification h3 {
    margin-bottom: 0.3rem;
    color: #444;
  }
  
  .qualification p {
    margin: 0;
    color: #666;
  }
  
  .qualification span {
    font-size: 0.9rem;
    color: #999;
  }
  footer{
    text-align: center;
   padding-top: 2%;
}

  
