* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: aliceblue;
}
.h{
    color: rgb(22, 125, 131);
    text-align: center;
    background-color: #d2e8e8;
}
nav{
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: flex-end;
    font-size:xx-large;
}
  .contact-section {
    width: 100%;
    max-width: 500px;
    margin: 60px auto;
    background-color:  rgb(8, 114, 119);
    padding: 30px;
    border-radius: 10px;
    
}
  .contact-section h1{
    margin-bottom: 10px;
    color: #05b9b9;
  }
  .
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    color: #333;
    font-weight: bold;
}

.contact-section input,
.contact-section section textarea {
  padding: 12px;
  border: 1px solid  aliceblue;
  border-radius: 5px;
  font-size: x-large;
  align-items: center;
}

.contact button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
footer{
    text-align: center;
   padding-top: 2%;
}


